<% provide(:title, "About") %>
<!DOCTYPE html>
<html>
    <body>
    <br>
    <h1>Acerca de Viajes Ucé</h1>
    <br>
    <p>
    ViajesUcé fue creado en el año 2022 por alumnos de Ingeniería de la PUC. Estos alumnos notaron que los estacionamientos del campus estaban siempre llenos y que en la mayoría de estos
    viajaba una o dos personas. Por lo tanto crearon ViajesUcé,  una aplicacion que tiene como objetivo conectar a los estudiantes de la UC que viven cerca y tienen posibilidad de movilizarse
    en auto hacia o desde la universidad.
    La idea principal es que los estudiantes informen la disponibilidad de sus autos, cupos, horarios, ruta que hacen, etc.  
    Y así otros usuarios podrán buscar las rutas y horarios que les sirvan y solicitar un cupo en el auto que más les acomode. <br>
    La aplicacion ViajesUcé cuenta con un chat que se integran a los usuarios al momento de entrar al turno, para poder comunicarse con el resto de los integrantes. <br> 
    Además de ser una gran ayuda en movilización, tambien nos permite compartir con compañeros de la universidad de distintas carreras y edades, y hacer nuevos amigos :)  
    </p>
    </body>
</html>