<% provide(:title, "Contact") %>
<!DOCTYPE html>
<html>
    <body>
    <br>
    <h1>Contáctanos</h1>
    <br>
    <p>
    En ViajesUcé queremos comunicarnos contigo.
    </p>
    <h5>Teléfono: +56 9 1234 5678</h5>
    <h5>Email: viajesuce@contacto.cl</h5>
    <h5>Dirección: Viajes Ucé, Viajes, Ucé</h5>
    </body>
</html>