<% provide(:title, "Help") %>
<!DOCTYPE html>
<body>
    <main>
    <br>
        <h1 class="faq-heading">Preguntas Frecuentes</h1>
        <br>
        <section class="faq-container">
            <h4>¿Puedo realizar una publicación si no tengo cuenta?</h4>
            <div class="faq-body">
                <p>No, para poder realizar una publicación debes iniciar sesión. 
                Si no tienes una cuenta no dudes en registrarte, ¡Te estamos esperando!</p>
            </div>
            <hr class="hr-line">
            <h4>¿Puedo realizar viajes desde y hacia la universidad?</h4>
            <div class="faq-body">
                <p>¡Exacto! El objetivo de ViajesUcé es realizar recorridos desde y hacia la universidad, 
                pasando por distintos puntos de Santiago. Inicia sesión para ver qué recorrido es el que más te conviene.</p>
            </div>
            <hr class="hr-line">
            <h4>¿Cómo puedo comunicarme con el conductor?</h4>
            <div class="faq-body">
                <p>ViajesUcé cuenta con un chat compuesto por todo los integrantes del viaje. De esta forma se pueden comunicar
                para que la organización sea lo más fácil posible. También a través del chat podrás comunicar cualquier inconveniente.</p>
            </div>
            <hr class="hr-line">
            <h4>¿Qué puedo hacer si el viaje fue desagradable?</h4>
            <div class="faq-body">
                <p>Uff, lamentamos mucho tu situación. En ViajesUcé queremos que todos tengan una buena experiencia y nos ayudemos mutuamente.
                Si tuviste una mala experiencia, porfavor hazlo saber en la reseña del viaje. Y si quieres reportar alguna situación o algún usuario
                en específico no dudes en contactarnos para tomar las medidas necesarias.</p>
            </div>
            <hr class="hr-line">
            <h4>¿Qué hago si el conductor se fue sin mi?</h4>
            <div class="faq-body">
                <p>Ay no, ¡Lo encontraremos! Si tu conductor/a se fue sin ti y no te contesta en el chat, porfavor comunicate con nosotros para reportar el caso y tomar las medidas necesarias.
                De todas formas, te recomendamos que busques nuevamente en las publicaciones para solicitar la que más teconvenga.
                Lamentamos tu situación y haremos lo posible para que no ocurra de nuevo.</p>
            </div>
            <hr class="hr-line">
            <h4>Soy conductor y un integrante del viaje todavía no aparece</h4>
            <div class="faq-body">
                <p>Si un integrante no aparece y tampoco responde por el chat, recomendamos esperar 5 minutos para ver si da señales de vida.
                Si no ocurre nada, tienes la opción de eliminar la solicitud y dejar el espacio para que otro usuario se sume a tu viaje.</p>
            </div>
            <hr class="hr-line">


        </section>
    </main>
</body>
</html>