

<% provide(:title, "Home") %>
<!DOCTYPE html>
<!-- Jumbotron -->
<div
  class="bg-image p-5 text-center shadow-1-strong rounded mb-5 text-white"
  style="background-image: url('https://creativtidbits.files.wordpress.com/2012/05/232005818274245174_jo04me9u_f.jpg');"
>
  <h1 class="mb-3 h2">Viajes UCé</h1>

  <p>
  ViajesUcé es una aplicacion que tiene como objetivo conectar a los estudiantes de la UC que viven cerca y tienen posibilidad de movilizarse en auto hacia o desde la universidad.
  La idea principal es que los estudiantes informen la disponibilidad de sus autos, cupos, horarios, ruta que hacen, etc.  
  Y así otros usuarios podrán buscar las rutas y horarios que les sirvan y solicitar un cupo en el auto que más les acomode. <br>
  La aplicacion ViajesUcé cuenta con un chat que se integran a los usuarios al momento de entrar al turno, para poder comunicarse con el resto de los integrantes. <br> 
  Además de ser una gran ayuda en movilización, tambien nos permite compartir con compañeros de la universidad de distintas carreras y edades, y hacer nuevos amigos :)
  
  </p>
</div>
<!-- Jumbotron -->
