


<nav class="container-fluid nav">
<div class="container cf">
</div>
</nav>

<div class="container-fluid splash" id="splash" style="background-image: url('https://creativtidbits.files.wordpress.com/2012/05/232005818274245174_jo04me9u_f.jpg');">
<div class="container">
  <h1>VIAJES UCÉ</h1>
  <span class="lead">Una Forma de Trasladarse</span>
  <span class="continue"><a href="#about"><i class="fa fa-angle-down"></i></a></span>
</div>
</div>

<div class="container-fluid intro" id="about">
<div class="container">
  <h2>Nosotros</h2>
  <p>ViajesUcé es una aplicacion que tiene como objetivo conectar a los estudiantes de la UC que viven cerca y tienen posibilidad de movilizarse en auto hacia o desde la universidad.
  La idea principal es que los estudiantes informen la disponibilidad de sus autos, cupos, horarios, ruta que hacen, etc.  
  Y así otros usuarios podrán buscar las rutas y horarios que les sirvan y solicitar un cupo en el auto que más les acomode. <br>
  La aplicacion ViajesUcé cuenta con un chat que se integran a los usuarios al momento de entrar al turno, para poder comunicarse con el resto de los integrantes. <br> 
  Además de ser una gran ayuda en movilización, tambien nos permite compartir con compañeros de la universidad de distintas carreras y edades, y hacer nuevos amigos :)
  </p>
</div>
</div>

<div class="container-fluid features" id="skills">
<div class="container cf">
  <h2>La Aplicación</h2>
  <div class="col-3">
    <img src="https://s22.postimg.org/oi5es3fkx/icon_cloud.png" alt="">
    <h3>Publica</h3>
    <p>La aplicación permite a los usuarios realizar publicaciones ofreciendo turno con todas las especificaciones necesarias.</p>
  </div>
  <div class="col-3">
    <img src="https://s22.postimg.org/jxj8d5vvl/icon_coding.png" alt="">
    <h3>Encuentra</h3>
    <p>Puedes revisar todas las publicaciones realizadas por los usuarios e incluso filtrar estas por comuna según tu conviencia.</p>
  </div>
  <div class="col-3">
    <img src="https://s22.postimg.org/citwksa01/icon_graph.png" alt="">
    <h3>Recomienda</h3>
    <p>Luego de viajar con un conductor, puedes dejar una reseña comentando tu experiencia para así permitir al resto encontrar a los mejores conductores.</p>
  </div>
</div>
</div>


<div class="container-fluid contact" id="contact">
<div class="container">
    <h2>Contáctanos</h2>
    <p> En ViajesUcé queremos comunicarnos contigo. </p>
    <p> Teléfono: +56 9 1234 5678 </p>
    <p> Email: viajesuce@contacto.cl </p>
    <p> Dirección: Viajes Ucé, Viajes, Ucé </p>
</div>
</div>

<footer class="container-fluid footer">
<div class="container">
  
</div>
</footer>